# .github/workflows/ci-cd.yml
name: Railway CD Pipeline

on:
  push:
    branches: [ "main" ] # Запускаємо при пуші в гілку main

jobs:
  deploy_to_railway:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4 # 1. Витягуємо код
    
    # 2. Використовуємо Railway CLI для запуску деплою
    - name: Deploy to Railway
      uses: railwayapp/cli-action@v3.4.0
      with:
        # Токен та ID беруться з секретів GitHub
        token: ${{ secrets.RAILWAY_TOKEN }} 
        project_id: ${{ secrets.RAILWAY_PROJECT_ID }}